<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" (click)="goBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="listTitle">
    <ion-row class="ion-margin">
      <ion-col size="12">
        <ion-text color="primary">
          <h1>{{stateData?.name}}</h1>
          <p>{{stateData?.description}}</p>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="srch">
      <ion-col size="12">
        <ion-searchbar class="srchBar" placeholder="Search your {{stateData?.listType}} here" [debounce]="1000"
          (ionInput)="handleInput($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-list>
  @if(listType == 'project'){
    <ion-segment class="custom-segment" [(ngModel)]="filter" (ionChange)="filterChanged($event)">
      @for (filter of filters;track filter) {
        <ion-segment-button [value]="filter.value">
          <ion-label>{{ filter.label }}</ion-label>
        </ion-segment-button>
      }
    </ion-segment>
  }

  
  <ion-grid>
    <ion-row *ngIf="solutionList?.count > 0; else noData">
        @for (solution of solutionList?.data; track solution.id) {
        <ion-col size="12" size-md="6" class="listing-card" (click)="navigateTo(solution)">
          <ion-card class="tiels">
            <ion-card-content>
              <div class="flex justify-between items-center">
                <h2><b>{{solution?.name}}</b></h2>
                @if (listType == 'survey') {
                  <span [ngClass]="solution?.tagClass">
                    {{ solution?.statusLabel }}
                  </span>
                }
                @if (solution?.certificate || solution?.certificateTemplateId) {
                  <span class="certificate-tag">Certificate</span>
                }
              </div>
              @if (listType == 'project') {
                <div class="ion-padding-top">
                  <h6>{{solution?.description}}</h6>
                </div>
              }
              <div class="ion-padding-top">
                @if (listType == 'survey') {
                  @if (solution?.status === 'expired') {
                    <h6>Expired on {{ solution?.endDate | date }}</h6>
                  } @else if (solution?.endDate && solution.isExpiringSoon) {
                    <h6>Expires in {{ solution.daysUntilExpiry }} days</h6>
                  } @else if (solution?.completedDate) {
                    <h6>Completed on {{ solution?.completedDate | date }}</h6>
                  } 
                  @else {
                    <h6>Valid till {{ solution?.endDate | date }}</h6>
                  }
                } @else {
                  <h6>{{solution?.description}}</h6>
                }
              
              </div>

            </ion-card-content>
          </ion-card>
        </ion-col>
        }
      </ion-row>
      <ng-template #noData>
        <div class="no-data-container ion-margin-top" *ngIf="!showLoading">
          <img src="assets/images/no_data.jpg" alt="No data">
        </div>
      </ng-template>
  </ion-grid>
</ion-content>
<ion-footer *ngIf="!(solutionList?.count === 0 || solutionList?.count === solutionList?.data?.length)">
  <ion-toolbar>
    <ion-button expand="block" fill="solid" shape="round" (click)="loadData()">
      Load More
    </ion-button>
  </ion-toolbar>
</ion-footer>