ion-row.srch {
  padding-right: 1.5vh;
  align-items: center;

  ion-searchbar {
    --background: #fff;
    --border-radius: 10px;
  }
}

ion-row.tagline {
  padding-left: 1.5vh;

  ion-text {
    font-size: 2rem;
    font-weight: 800;
  }
}

.listTitle {
  background: var(--ion-color-primary);

  h1,
  p {
    color: white;
  }
}

h2 {
  color: var(--ion-color-primary);
}

.tiels {
  h6 {
    color: #000000;
    line-height: inherit;
  }
}

.listing-card{
  cursor: pointer;
}

.tiels{
  cursor: pointer;
  background-color: #fff;
  border-color: var(--ion-color-primary) !important;

   transition: transform 0.3s ease-in-out;

}

.tiels:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.no-data{
  display: flex;
  justify-content: center;
}