ion-row.srch {
  padding-right: 1.5vh;
  align-items: center;

  ion-searchbar {
    --background: #fff;
    --border-radius: 0.625rem;
  }
}

ion-row.tagline {
  padding-left: 1.5vh;

  ion-text {
    font-size: 2rem;
    font-weight: 800;
  }
}

.listTitle {
  background: var(--ion-color-primary);

  h1{
    font-size: 1.563rem;
  }
  h1,
  p {
    color: white;
  }
}

h2 {
  color: var(--ion-color-primary);
}

.tiels {
  h6 {
    color: #000000;
    line-height: inherit;
  }
}

.listing-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.tiels {
  cursor: pointer;
  background-color: #fff;
  border-color: var(--ion-color-primary) !important;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tiels:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--header-height) - var(--footer-height));
}

.no-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.no-data-container img {
  max-width: 80%;
  margin-bottom: 1rem;
}

.no-data {
  font-size: 1.5rem;
  color: var(--ion-color-medium);
}

.add-project-col{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.add-button{
  color: var(--ion-color-primary);
  font-weight: 700;
}

.tiel {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 15px;
  transition: transform 0.3s ease-in-out;
}
.tiel:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

// .tiel > div:first-child,
// .tiel > div:nth-child(2) {
//   flex-grow: 1;
// }

.arrow-container {
  margin-left: auto;
}

.tiel-part{
  display: flex;
  flex-direction: row;
}
.small-tiel{
  background-color: var(--ion-color-primary); height: 100%; width: 60px;  margin-right: 5px;
}

@media (min-width: 768px) {
  .no-data-container img {
    max-width: 26%;
  }
}