<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" (click)="goBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="listTitle">
    <ion-row class="ion-margin">
      <ion-col size="12">
        <ion-text color="primary">
          <h1>{{stateData?.name}}</h1>
          <p>{{stateData?.description}}</p>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="srch">
      <ion-col size="12">
        <ion-searchbar class="srchBar" placeholder="Search your {{stateData?.listType}} here" [debounce]="1000"
          (ionInput)="handleInput($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-grid>
    <ion-row *ngIf="solutionList?.count > 0; else noData">
      @for (solution of solutionList?.data; track solution.id) {
      <ion-col size="12" size-md="6" class="listing-card" (click)="navigateToProject(solution)">
        <ion-card class="tiels">
          <ion-card-content>
            <h2><b>{{solution?.name}}</b></h2>
            <h6 class="ion-padding-top">{{solution?.description}}</h6>
          </ion-card-content>
        </ion-card>
      </ion-col>
      }
    </ion-row>

    <ng-template #noData>
      <div class="no-data-container ion-margin-top">
        <img src="assets/images/no_data.jpg" alt="No data">
      </div>
    </ng-template>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="solutionList?.count > limit">
  <ion-toolbar>
    <ion-button [disabled]="solutionList?.count === 0" expand="block" fill="solid" shape="round" (click)="loadData()">
      Load More
    </ion-button>
  </ion-toolbar>
</ion-footer>