.journey-card {
    min-width: 37%;
    width: 100%;
    height: 100%;
    min-height: 145px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    border: #D9D9D9 solid 1px;
    background-color: #fff;
    cursor: pointer;
    .card-title{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        height: 80%;
        border-bottom: #D9D9D9 solid 1px;
        font-size: 1rem;
        font-weight: 500;
        p{
            width: 70%;
        }
    }
    button{
        padding: 6px 12px;
        background-color: #572E91;
        border-radius: 20px;
        display: flex;
        mat-icon{
            color: #fff;
        }
    }
    .card-body{
        display: flex;
        flex-direction: row;
        div{
            padding: 0.5rem 1rem;
            width: 50%;
            display: flex;
            flex-direction: column;
            font-weight: 700;
            p{
                font-size: 14px;
            }
            span{
                font-size: 20px;
            }
        }
        .on-going{
            border-right:#D9D9D9 solid 1px ;
        }
        .completed{
            color: #757575;
        }
    }

}