<app-application-header>
  <div class="head-container" header-left-content>
    <ion-buttons slot="start">
      <ion-button (click)="canPageLeave($event)">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <h1 class="header-text">{{"PROFILE_EDIT"|translate}}</h1>
  </div>
</app-application-header>

<ion-content [fullscreen]="true">
  <app-profile-image [profileImageData]='formJson' [uploadImage]="true" (imageUploadEvent)="imageUploadEvent($event)"
    (imageRemoveEvent)="imageRemoveEvent($event)"></app-profile-image>
  <div class="ion-margin-top container" *ngIf="enableForm">
    <dynamic-form [formJson]="formJson" #formLib (onChange)="onOptionChange($event)"
      (ionFocus)="handleSelectFocus($event)"></dynamic-form>
  </div>
  <div class="ion-margin-top container" *ngIf="formJson2?.length > 0">
    <dynamic-form [formJson]="formJson2" #formLib2 (onChange)="onOptionChange2($event)"
      (ionFocus)="handleSelectFocus($event)"></dynamic-form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="updateProfile()" expand="block" fill="primary" shape="solid" class="container"
      [disabled]="!(formLib?.myForm?.valid && formLib2?.myForm?.valid)">
      {{"PROFILE_UPDATE"|translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>