<ion-header collapse="fade" class="ion-no-border">
  <ion-toolbar class="header-container">
    <div class="header-content">
      <div class="header-left">
       <div class="left-container">
        <ng-content select="[header-left-content]"></ng-content>
        @if(config?.showBackButton){
          <ion-buttons slot="start">
            <ion-button (click)="onBackClick()">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
         }
         @if(config?.title){
          <h1 class="header-title">{{ config.title | translate }}</h1>
         }
       </div>
      </div>
        <div class="header-actions">
          <ng-content select="[header-right-content]"></ng-content>
          @if(config?.customActions){
          <ion-buttons  class="buttons-container">
            @for(action of config.customActions;track action){
              <ion-button
              class="action-button"
              (click)="onActionClick(action.actionName)"
            >
            @if(action?.icon){
              <ion-icon [name]="action.icon" class="action-icon"></ion-icon>
            }
            @if(action?.text){
              <span class="header-text">{{action.text | translate}}</span>
            }
            </ion-button>
            }
          </ion-buttons>
        }
        </div>
    </div>
  </ion-toolbar>

  <ng-container *ngTemplateOutlet="search">
  </ng-container>
</ion-header>
