<ion-header collapse="fade" class="ion-no-border">
  <ion-toolbar class="header-container">
    <div class="header-content">
      <!-- Left Section: Back Button and Title -->
      <div class="header-left">
        <!-- Back Button -->
       <div class="left-container">
        @if(config.showBackButton){
          <ion-buttons slot="start">
            <ion-button (click)="onBackClick()">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
         }
        <!-- Title -->
         @if(config.title){
          <h1 class="header-title">{{ config.title }}</h1>
         }
       </div>
      </div>
      <!-- Right Section: Actions -->
        <div class="header-actions">
          <ng-content></ng-content>
          @if(config.customActions){
          <!-- Custom Actions (Buttons) -->
          <ion-buttons  class="buttons-container">
            @for(action of config.customActions;track action){
              <ion-button
              class="action-button"
              (click)="onActionClick(action.actionName)"
            >
            @if(action.icon){
              <ion-icon [name]="action.icon" class="action-icon"></ion-icon>
            }
            @if(action.text){
              <span class="header-text">{{action.text}}</span>
            }
            </ion-button>
            }
          </ion-buttons>
        }
        </div>
    </div>

  </ion-toolbar>
</ion-header>
