
.report-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.report-header h1{
    color: black;
    font-size: 1rem !important;
}

.report-header-select{
    display: flex;
}

.report-header-menu{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.report-header-menu ion-icon{
    cursor: pointer;
    color: black;
}
