<div style="display: flex; align-items: center; justify-content: space-between;">
  <h1 style="color: black;">{{reportTitle}}</h1>
  <div style="display: flex;">
    <ion-select style="color: black;" aria-label="Program" interface="popover" placeholder="Select" [multiple]="false" [(ngModel)]="reportType" (ionChange)="getReportType(reportType)">
      <ion-select-option value="0">Weekly</ion-select-option>
      <ion-select-option value="1" selected>Monthly</ion-select-option>
      <ion-select-option value="2">Quarterly</ion-select-option>
    </ion-select>
    <div style="display: flex; align-items: center; margin-left: 15px;">
      <ion-icon  style="cursor: pointer;color: black;" name="ellipsis-vertical-outline" (click)="openPopover($event)"></ion-icon>
    </div>
  </div>
</div>
