.list-title{
    background: var(--ion-color-primary);
    h1{
        font-size: 1.563rem;
        color: white
    }
}

ion-row.search {
    align-items: center;
  
    ion-searchbar {
      --background: #fff;
      --border-radius: 0.625rem;
    }
}

.project-card{
    height: 100%;
    cursor: pointer;

    ion-card-content{
        div{
            color: var(--ion-color-primary);
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 15px;
        }
    }
}

.no-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img{
        max-width: 80%;
        margin-bottom: 1rem;
    }
}

@media (min-width: 768px) {
    .no-data img {
      max-width: 26%;
    }
  }