
.nodata-card{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.5rem;
    text-align: center;
}
.nodata-card img {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
    aspect-ratio: 1/1; 
}

.nodata-card h4 {
    margin: 0;
    font-size: 1rem;
    max-width: 90%;
    word-break: break-word;
}