.content-header{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.content{
    text-align: center;
    padding:20px;
}

.content-footer{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    button{
        margin: 5px;
        border-radius: 10px;
        padding: 5px;
        background-color: var(--ion-color-primary);
    }
}
