.preview-card{
    width: 100%;
}
.header-container {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}
  
.close-icon {
    font-size: 1.8rem;
    cursor: pointer;
}
  
.content-container {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
@media (orientation: landscape) {
    .content-container {
      height: 40vh;
    }
}
  
.media-content {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    border-radius: 0.5rem;
}

  