.cards-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr)); 
    justify-content: center;
    align-items: stretch;
  }
app-spotlight-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}  