<app-application-header [config]="headerConfig"></app-application-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-grid>
      <ion-row>
        @for (item of spotlightStories; track $index) {
          <ion-col size="12" size-sm="6" size-md="4">
            <app-spotlight-card
            [spotlightStory]="item"
            [index]="$index"
          ></app-spotlight-card>
        </ion-col>
        }
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadData($event)" [disabled]="disableLoading">
    <ion-infinite-scroll-content loadingText="{{'LOADING' | translate}}..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
