<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-list class="listTitle">
    <ion-row class="ion-margin">
      <ion-col >
        <ion-text color="primary">
          <h1>{{stateData?.name}}</h1>
          <p>{{stateData?.description}}</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-grid>
    <ion-row>
      @for (solution of stateData?.list; track $index) {
        <ion-col size="12" size-md="6" class="card-list" (click)="navigateTo(solution)">
          <ion-card class="tiel">
            <div style="padding:10px;">
              <h2 style="font-size: 18px;padding-bottom: 8px;"><b>{{solution.name}}</b></h2>
              <h6>{{"VIEW" |translate }} {{solution.name}}</h6>
            </div>
            <div class="arrow-container">
              <ion-icon name="arrow-forward-outline" class="arrow-icon"  size="large"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
