.journey-name{
    background-color: #fff;
    padding: 1rem 2rem;
}
.custom-segment {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    padding: 2px;
  }


  .custom-segment ion-segment-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .custom-segment ion-segment-button ion-label {
    white-space: normal;
    overflow: visible;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
  }

  .segment-button-checked{
    background: color-mix(in srgb, var(--ion-color-primary) 20%, transparent);  }

  .cards-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;

    @media (max-width: 768px){
        justify-content: space-around;
    }
}
