ion-content {
    --background: var(--color-background);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 16px;
    margin-top: 0;
}

.title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 16px;
    color: var(--color-header);
    text-align: left;
}

.input-container {
    margin: 16px 0;
}
.input-label {
    font-size: 1rem;
    color:var(--primary-color);
    margin-bottom: 8px;
    display: block;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.text-input-with-icon {
    flex: 1;
    padding: 8px 12px;
    padding-right: 36px;
    border: none;
    border-bottom: 2px solid #141212;
    border-radius: 0;
    outline: none;
    color: var(--primary-color);
    font-size: 1rem;
}

.text-input-with-icon::placeholder {
    color:var(--color-header); 
    opacity: 0.8;
}

.text-input-with-icon:focus {
    color: var(--color-header);
    border-bottom-color: var(--primary-color);
}

.icon-inside-input {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
}
  
.add-new {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    margin: 16px 0px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
  
.add-new ion-icon {
    font-size: 1.5rem;
    margin-right: 8px;
}

.radio-container {
    margin: 0;
    padding: 16px 0;
    background-color: var(--color-background);
  }
  
ion-item {
    --background: transparent;
    --padding-start: 0;
    --inner-padding-end: 0;
    --min-height: auto;
    --border-color: transparent;
    display: flex;
    align-items: center;
}
  
ion-label {
    font-size: 1rem;
    color: var(--color-header);
    flex: 1;
}
  
ion-radio {
    --border-color: transparent;
    --padding-start: 0; 
}
