<app-application-header [config]="headerConfig"></app-application-header>
<ion-content class="ion-padding">
  <div class="container">
    <h1 class="title">{{"TAG_IMPROVEMENT" | translate}}</h1>
    <div>
        <div class="input-container" *ngIf="showInput; else addNewProblemStatement">
          <label class="input-label">{{"ADD_PROBLEM_STATEMENT" | translate}}</label>
          <div class="input-wrapper">
            <input
              type="text"
              [(ngModel)]="problemStatement"
              placeholder="Enter here"
              class="text-input-with-icon"
            />
            <ion-icon
              name="close-circle-outline"
              class="icon-inside-input"
              (click)="toggleInput()"
            ></ion-icon>
          </div>
        </div>
        <ng-template #addNewProblemStatement>
          <div class="add-new">
            <ion-icon
              name="add-circle-outline"
              class="add-icon"
              (click)="toggleInput()"
            ></ion-icon>
            <span (click)="toggleInput()">{{ "ADD_NEW_PROBLEM_STATEMENT" | translate }}</span>
          </div>
        </ng-template>
    </div>

    <div class="radio-container">
      <ion-radio-group [(ngModel)]="selectedOption">
        @for(option of options;track option){
          <ion-item>
            <ion-label>{{ option }}</ion-label>
            <ion-radio slot="start" [value]="option"></ion-radio>
          </ion-item>
        }
      </ion-radio-group>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" fill="solid" class="add-btn">
      {{"ADD" | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
