.image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

  }

  .image-container img {
    min-width: 50vw;
    height: auto;
  }

  .head{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    div{
        display: flex;
        cursor: pointer;
    }
    p{
        font-size: 18px;
    }
  }