<ion-content class="pop-container">
  <div class="pop-content">
  <div class="copy-link-div">
    <div class="content">
      @if (data.showDownloadUrl) {
        <p >{{ data.downloadUrl | shortUrl:25 }}</p>
      }
      @if(data.title){
        <h3>{{ data.title | translate}}</h3>
      }
      @if (data.message) {
        <h4>{{data.message | translate}}</h4>
      }
    </div>
    <div>
      <button class="button-copy" (click)="onModalDismiss(false)" >
        <ion-icon class="button-icon"  name="close"></ion-icon>
      </button>
    </div>
  </div>
</div>
<div class="cancel-button">
  <ion-button (click)="onModalDismiss(true)"  fill="solid" shape="round" >
      <ion-icon class="button-icon"  name="copy-outline"></ion-icon>
      <span>{{"COPY"|translate}}</span>
    </ion-button>
  </div>
</ion-content>
