.header {
  color: #fff;
  padding: 25px 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

ion-title img {
  min-width: 150px;
  max-width: 300px;
  width: 40vw;
  height: auto;
  object-fit: contain;
}

.intro {
  min-height: 300px;
  color: #fff;

  .intro_btm {
    margin-top: -40px;
    position: relative;
  }
}
.login-btn {
  --border: 1px solid #fff;
  --border-radius: 8px !important;
  text-transform: none;
  --border-width: 1px !important;
  min-height: 46px;
  --padding-start: 18px;
  --padding-end: 18px;

  font-size: 1rem;
  white-space: nowrap;
  flex: 0 1 auto;
  min-width: 120px;
  max-width: 200px;
}

ion-button {
  text-transform: none;
}
.content {
  padding: 1% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 52px;
    font-weight: 800;
    margin-bottom: 34px;
  }
  p {
    line-height: 2;
    font-size: 28px;
    text-align: center;
  }
  ion-button {
    min-width: 240px;
    min-height: 56px;
    font-size: 22px;
    margin-top: 24px;
  }
}

.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  bottom: -90px;
  @media (max-width: 768px) {
    bottom: 0px;
  }
}

.centered-image img {
  max-width: 100%;
  height: auto;
}

.background-image-section {
  width: 100%;
  min-height: auto;
}

.content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  @media (max-width: 768px) {
    flex-direction: column !important;
    text-align: center;
  }

  .text-section {
    h2 {
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 20px;
      line-height: 2;
      font-size: 18px;
    }
    ion-button {
      margin-top: 10px;
      height: 50px;
      font-size: 18px;
    }
    width: 100%;
    padding: 10px;
    @media (max-width: 768px) {
      order: 1;
    }
  }
}

.image-left {
  flex-direction: row-reverse;
}
.image-right {
  flex-direction: row;
}

.image-section {
  width: 100%;
  @media (max-width: 768px) {
    order: 2;
  }
}

.footer {
  position: relative;
  overflow: hidden;
  background-color: #5c2e91;
  color: white;
  padding: 50px 40px;
  font-family: Arial, sans-serif;

  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .left-section {
    @media (max-width: 768px) {
      order: 2;
    }
  }

  h1 {
    font-size: 46px;
    margin: 60px 0px;
    @media (max-width: 768px) {
      text-align: center;
    }
  }

  .logo {
    width: 100%;
  }

  .right-section {
    @media (max-width: 768px) {
      order: 1;
    }
    ion-button {
      min-width: 260px;
      height: 60px;
      font-size: 22px;
      --border-radius: 8px;

      @media (max-width: 768px) {
        margin: 0px 0px 0px 12px;
      }
    }

    .form-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      margin: 10px 5px;
      label {
        font-size: 18px;
        font-weight: 600;
        color: white;
        margin-bottom: 8px;
      }

      ion-input {
        --background: white;
        --border-radius: 10px;
        --padding-start: 15px;
        --padding-end: 15px;
        --placeholder-color: #000;
        color: #000;
        --ion-color: #000;
        border: none;
        height: 50px;
        font-size: 18px;
      }

      .error {
        margin-top: 5px;
        color: red;
        font-size: 16px;
      }
      ion-item {
        margin-bottom: 15px;
      }
    }
  }

  .ft_logo_dv {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 70%;
    }
  }
}

.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
}

.circle-right-top {
  background-color: #ff9800;
  top: -125px;
  right: -125px;
}
.circle-right-bottom {
  background-color: #ff9800;
  bottom: -130px;
  right: -170px;
  z-index: 1;
  height: 300px;
}
.circle-left-bottom {
  background-color: #99459a;
  bottom: -150px;
  left: -150px;
  z-index: 11;
}
.circle-left-top {
  background-color: #99459a;
  top: 90px;
  left: -190px;
}
