<app-application-header [config]="headerConfig" (actionClick)="handleActionClick($event)">
<ng-template #search>
  @if(pageConfig.enableSearch && searchBar){
    <ion-row class="search-bar">
      <ion-col size="12">
        <ion-searchbar placeholder="{{'SEARCH_BAR_PLACEHOLDER' | translate }}" [debounce]="1000"
          (ionInput)="handleInput($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
  }

</ng-template>
</app-application-header>

<ion-content id="filter-content">
  @if(searchTerm.length && count > 0){
    <p class="highlight">{{resultMsg | translate}}</p>
  }

  @if(listingData.length > 0){
      <ion-grid class="layout-wrapper">
        <ion-row>
      @for(data of listingData; track $index){
        <ion-col size="12" size-sm="6" size-md="6" size-lg="4">
          <app-recommendation-card [cardData]="data" [type]="pageConfig.type"></app-recommendation-card>
        </ion-col>
      }
        </ion-row>
      </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadData($event)" [disabled]="disableLoading">
    <ion-infinite-scroll-content loadingText="{{'LOADING' | translate}}..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  }@else{
      @if (!noData) {
        <app-no-data [message]="searchTerm.length || filterQuery ? 'SEARCH_RESULT_NOT_FOUND' : 'NO_DATA_MSG'"></app-no-data>
      }
  }
</ion-content>
@if(pageConfig.enableFilter){
  <ion-menu menuId="filter-menu" contentId="filter-content" side="end">
    @if(isMenuOpen){
      <app-filter (onClose)="filterEvent($event)"></app-filter>
    }
  </ion-menu>
}