<app-application-header [config]="headerConfig" (actionClick)="handleActionClick($event)">
<ng-template #search>
  @if(pageConfig.enableSearch){
    <ion-row class="search-bar">
      <ion-col size="12">
        <ion-searchbar placeholder="{{'SEARCH_BAR_PLACEHOLDER' | translate }}" [debounce]="1000"
          (ionInput)="handleInput($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
  

  }

</ng-template>
</app-application-header>

<ion-content>
  
  <ion-list>
    <ion-grid>
      @if(searchTerm.length && count > 0){
       <p class="highlight">{{resultMsg | translate}}</p> 
      }

      @if(listingData.length){
        <ion-row>
          @for(data of listingData; track $index){
            <ion-col size="12" size-sm="6" size-md="4">
              <app-recommendation-card [cardData]="data"></app-recommendation-card>
            </ion-col>
          }
        </ion-row>
      }@else{
        <!-- To be replaced with generic no-data card -->

          <div>NO DATA</div>

      }
    </ion-grid>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadData($event)" [disabled]="disableLoading">
    <ion-infinite-scroll-content loadingText="{{'LOADING' | translate}}..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<div  id="filter-content"></div>
<ion-menu menuId="filter-menu" contentId="filter-content" side="end">
  @if(isMenuOpen){
    <app-filter (onClose)="filterEvent($event)"></app-filter>
  }
</ion-menu>