::ng-deep{
    ion-row.search-bar {
        position: sticky !important;
        top: 0;
        align-items: center;
      
        ion-searchbar .searchbar-input.sc-ion-searchbar-md  {
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #ECE6F0 !important;
            color: black !important;
          --border-radius: 1rem !important;
        }
    }
}

.highlight{
    color: var(--color-primary);
}

.cards-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 12px;

    @media (max-width: 768px){
        justify-content: space-around;
    }
}