::ng-deep{
    ion-row.search-bar {
        position: sticky !important;
        top: 0;
        align-items: center;
      
        ion-searchbar .searchbar-input.sc-ion-searchbar-md  {
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #ECE6F0 !important;
            color: black !important;
          --border-radius: 1rem !important;
        }
    }
}

.highlight{
    color: var(--color-primary);
}

  