mat-card{
    min-width: 330px;
    max-width: 330px;
    min-height: 425px;
    border: 1px solid lightgray;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 12px !important;

    .card-image{
        height: 200px;
        border-radius: 10px;
        object-fit: cover;
    }

    .card-title{
        font-size: 20px;
        font-weight: 700;
        margin: 10px 0px;
    }

    .card-description{
        font-size: 14px;
        flex: 1;
    }

    .duration{
        font-size: 15px;
        margin: 10px 0px;
    }
}