mat-card {
    min-height: 450px;
    height: 100%;
    width: 100%;
    min-width: 80%;
    margin: auto;
    border: 1px solid lightgray;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .card-image{
        height: 200px;
        border-radius: 0.625rem;
        object-fit: cover;
        width: 100%;
    }

    .card-title{
        font-size: 20px;
        font-weight: 700;
        margin: 10px 0px;
    }

    .card-description{
        font-size: 14px;
        flex-grow: 1;
    }

    .duration{
        font-size: 15px;
        margin: 10px 0px;
    }
}