
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" (click)="goBack()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-list class="certificate-header">
    <ion-row class="ion-margin">
      <ion-col >
        <ion-text color="primary">
          <h2>Projects Certificate</h2>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-grid>
    <ion-row *ngIf="certificates?.length > 0; else noData">
      @for(certificate of certificates;track certificate){
        <ion-col size="12" size-md="6">
          <ion-card class="card-container">
            <ion-card-content class="card-content">
              <div class="certificate">
                <div class="certificate-title">{{ certificate.title }}</div>
                <div class="certificate-details">{{ certificate.completedDate | date: 'dd/MM/yyyy' }}</div>
                <div class="certificate-status">{{ certificate?.status | titlecase }}</div>
              </div>
              <div class="certificate-icon">
                <button class="certificate-icon-button">
                  <ion-icon class="view-icon" name="eye"></ion-icon>
                  <span class="certificate-text">View</span>
                  <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                </button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      }
    </ion-row>
    <ng-template #noData>
      <div class="no-data-container ion-margin-top">
        <img src="assets/images/no_data.jpg" alt="No data">
      </div>
    </ng-template>
  </ion-grid>
</ion-content>