<app-application-header [config]="headerConfig" ></app-application-header>

<ion-content [fullscreen]="true">
<ion-grid class="layout-wrapper">
  @if (myJourneys.length) {
    <ion-row>
    @for (item of myJourneys; track $index) {
    <ion-col class="ion-padding" size="12" size-sm="6" size-md="6" size-lg="4">
      <app-my-journey-card [myJourney]="item" ></app-my-journey-card>
    </ion-col>
    }
  </ion-row>
  }
    @else {
      @if (!noData){
          <app-no-data [titleMessage]="'No Projects Yet'" [imgUrl]="'assets/MI-2.0-card-images/Group 1000004830.svg'"  [message]="'NO_DATA_MSG'" ></app-no-data>
    }
  }
</ion-grid>
</ion-content>
