<app-application-header [config]="headerConfig"></app-application-header>

<ion-content [fullscreen]="true">
  <ion-grid class="layout-wrapper">
  <ion-row>
      @for (item of myImprovements; track $index){
        <ion-col size="12" size-sm="6" size-md="6" size-lg="4">
            <app-myimprovement-card [myImprovement]="item" [index]="$index"></app-myimprovement-card >
        </ion-col>
            }
      </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadData($event)" [disabled]="disableLoading">
    <ion-infinite-scroll-content loadingText="{{'LOADING' | translate}}..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
