<app-application-header [config]="headerConfig"></app-application-header>

<ion-content [fullscreen]="true">
  <div class="cards-list">
        @for (item of myImprovements; track $index) {
            <app-myimprovement-card [myImprovement]="item" [index]="$index"></app-myimprovement-card >
            }
          </div>
  <ion-infinite-scroll (ionInfinite)="loadData($event)" [disabled]="disableLoading">
    <ion-infinite-scroll-content loadingText="{{'LOADING' | translate}}..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
