@if(showHeader){
<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button>
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{"LOCATION_DETAILS"|translate}}</ion-title>
    </ion-toolbar>
</ion-header>
}

<ion-content [fullscreen]="true">
    <div class="ion-margin-top container">
        <dynamic-form *ngIf="formJson.length" [formJson]="formJson" #formLib (onChange)="onOptionChange($event)"
            (ionFocus)="handleSelectFocus($event)"></dynamic-form>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button (click)="updateProfile()" expand="block" fill="primary" shape="solid" class="container"
            [disabled]="!(formLib?.myForm?.valid)">
            {{"LOCATION_UPDATE"|translate}}
        </ion-button>
    </ion-toolbar>
</ion-footer>