ion-content {
  --background: var(--color-background);
}

.spacing {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.text-header {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-header);
  margin-bottom: 0.5rem;
}
.author-contianer{
  display: flex;
  gap: 1rem;
}
.text-muted {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  color: var(--color-header);
}

.card {
  background: var(--general-btn-text-color);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.card-title {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-text);
  margin-bottom: 0.5rem;
}

.card-title ion-icon {
  font-size: 1rem;
  color: var(--color-text);
  margin-right: 0.5rem;
  padding-bottom: 5px;
}

.card-text {
  font-size: 0.9rem;
  color: var(--color-header);
  line-height: 1.6;
}

.numbered-list {
  list-style: none;
  padding: 0;
  margin: 0;
  counter-reset: list-counter;
}

.numbered-list li {
  font-size: 0.9rem;
  color: var(--color-header);
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  position: relative;
  line-height: 1.6;
}

.numbered-list li::before {
  content: counter(list-counter) ". ";
  counter-increment: list-counter;
  position: absolute;
  left: 0;
  top: 0;
  color: var(--color-header);
  font-size: 1rem;
}

.image-placeholder {
  background: #e2e8f0;
  border-radius: 12px;
  height: 150px;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.responsive-button {
  width: 100%;
  text-transform: capitalize;
}

ion-toolbar {
  --background: var(--color-background);
}
@media (min-width: 769px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .responsive-button {
    max-width: 250px; 
    margin: 0 auto;
  }
}
