<app-application-header [config]="headerConfig" (actionClick)="handleSaveClick($event)"></app-application-header>
<ion-content class="ion-padding">
  <div class="spacing ion-padding">
    <h1 class="text-header">{{"GENERATED_AND_EDITED_TITLE" | translate}}</h1>
    <div class="text-muted">
      <span>{{"BY" | translate}} </span>
      <div class="author-contianer">
        @if(details.author){
          <span>{{details.author}}</span>
        }
        @if(details.location){
          <span>{{details.location}}</span>
        }
      </div>
    </div>
  </div>
  @if(details.title){
    <div class="card">
      <h1 class="card-title">
        <ion-icon name="star"></ion-icon>
        {{"PROBLEM_STATEMENT" | translate}}
      </h1>
      <p class="card-text">
        {{details.title}}
      </p>
    </div>
  }

@if(details.description){
  <div class="card">
    <h1 class="card-title">
      <ion-icon name="star"></ion-icon>
      {{"OBJECTIVE" | translate}}
    </h1>
    <p class="card-text">
      {{details.description}}
    </p>
  </div>
}

 @if(details.tasks){
  <div class="card">
    <h1 class="card-title">
      <ion-icon name="star"></ion-icon>
      {{"ACTION_STEPS" | translate}}
    </h1>
    <ul class="numbered-list">
      @for(task of details.tasks; track task){
        <li>{{task.name}}</li>
      }
    </ul>
  </div>
 }

@if(details.learningResources){
  <div class="card">
    <h1 class="card-title">
      <ion-icon name="star"></ion-icon>
      {{"IMPACT" | translate}}
    </h1>
    <p class="card-text">
      {{details.learningResources[0].name}}
    </p>
  </div>
}

  <div class="image-placeholder"></div>
  <p class="card-text">
    In the serene landscapes of Wokha, amidst the challenges of rural education...
  </p>

  <div>
    <div class="grid">
      <div class="image-placeholder"></div>
      <div class="image-placeholder"></div>
      <div class="image-placeholder"></div>
    </div>
    <p class="card-text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" fill="solid" class="responsive-button" (click)="starImporvement()">
      {{"START_IMPROVEMENT" | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
