ion-content {
  --padding:0px 1rem 1rem;
  --background: var(--color-background);
}

.spacing {
  padding: 0px 1rem 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.text-header {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-header);
  margin-bottom: 0.5rem;
}
.text-muted {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  color: var(--color-header);
}

.video {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 1rem;
}

.video-icon {
  font-size: 1.5rem; 
  color: var(--color-primary);
}

.video-label {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-primary);
}

.bottom-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
}
.bottom-text{
  font-size: 0.9rem;
  color: var(--color-header);
  line-height: 1.6;
  margin: 0.5rem;
}
.image-container {
  display: flex;
  justify-content: flex-start; 
  gap: 1rem; 
  flex-wrap: wrap;
}
.image-item {
  width: 100%;
  max-width: 200px;
}
.image-placeholder {
  border-radius: 0.7rem;
  height: auto;
  width: 100%;
  max-height: 150px;
  margin-bottom: 1rem;
}

.responsive-button {
  width: 100%;
  text-transform: capitalize;
}


ion-footer {
  position: sticky;
  bottom: 0;
  --background: var(--color-background) !important;
}
.evidences-container{
  margin-left: 0.7rem;
  display: flex;
  flex-direction: column;
}

.file-link {
  text-decoration: none;
  color: var(--color-primary);
  margin-top: 0.5rem;
}
.evidences-title{
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
  margin-right: 0.5rem;
  padding-bottom: 5px;
  font-weight: 700;
  margin-top: 10px;
}
@media (min-width: 769px) {
  .responsive-button {
    max-width: 250px; 
    margin: 0 auto;
  }
}
