<app-application-header [config]="headerConfig" (actionClick)="saveClick($event)"></app-application-header>
<ion-content class="ion-padding" *ngIf="projectDetails">
  <div class="layout-wrapper">
  <div class="spacing ion-padding">
    <h1 class="text-header">{{projectDetails.title}}</h1>
    <div class="text-muted">
      @if(projectDetails.author){
      <span>{{"BY" | translate}} </span>
          <span>{{projectDetails.author}}</span>
        }
    </div>
      @if(projectDetails?.testimonials
      ){
    <div class="text-muted">
      <ion-grid>
        <app-carousel
          [items]="projectDetails?.testimonials"
          [template]="itemTemplate1"
        >
        <ion-row>
        <ng-template #itemTemplate1 let-item="$item" let-index="$index">
                <ion-col size="12" >
                  <span>{{item?.text}} </span>
                  <br>
                  <span>- {{item?.author}}</span>
                </ion-col>
          </ng-template>
        </ion-row>
        </app-carousel>
    </ion-grid>
    @if (projectDetails?.testimonials.length > 1) {
      <div class="dots">
        @for (item of getDots(projectDetails?.testimonials.length); track $index) {
          <span></span>
        }
      </div>
    }
  </div>
}
  </div>

  @if(projectDetails.problemStatement){
    <app-mi-details-card
        [cardConfig]="{ title: 'PROBLEM_STATEMENT', text: projectDetails.problemStatement }">
    </app-mi-details-card>
  }

@if(projectDetails.description){
  <app-mi-details-card 
    [cardConfig]="{ title: 'OBJECTIVE', text: projectDetails.description }">
  </app-mi-details-card>
}

@if(projectDetails?.duration){
  <app-mi-details-card
    [cardConfig]="{ title: 'TIMELINE', text: projectDetails?.duration}">
  </app-mi-details-card>
}

@if(projectDetails.tasks.length>0){
  <app-mi-details-card
    [cardConfig]="{ title: 'ACTION_STEPS', tasks: projectDetails.tasks }">
  </app-mi-details-card>
}

@if(projectDetails.impact){
  <app-mi-details-card 
    [cardConfig]="{ title: 'IMPACT', text: projectDetails.impact }">
  </app-mi-details-card>
}

  <div class="bottom-container">
    @if(projectDetails.text.length>0){
      <p class="bottom-text">{{projectDetails.text}}</p>
    }
    @if(projectDetails.evidences.length > 0){
    <div class="evidences-container">
      <h1 class="evidences-title">
        {{ "EVIDENCES"| translate }}
      </h1>
      <div class="image-container">
        @for(item of projectDetails.evidences;track item){
          <div  class="image-item">
            @if(item.isType == 'images'){
              <img class="image-placeholder" [src]="item.downloadableUrl" [alt]="item.title"/>
              <div class="icon-container" (click)="previewResource(item)">
                <ion-icon name="image-outline" class="evidence-icon"></ion-icon>
                <ion-label class="image-label">{{item.title}}</ion-label>
              </div>
            }@else if(item.isType == 'videos'){
              <div  class="video" (click)="previewResource(item)">
                <ion-icon name="play-circle-outline" class="video-icon" ></ion-icon>
                <ion-label class="video-label">{{item.title}}</ion-label>
            </div>
            }@else{
              <a [href]="item.downloadableUrl" target="_blank" class="icon-container file-link">
                  <ion-icon name="link-outline" class="evidence-icon"></ion-icon>
                  {{ item.title }}
                </a>
            }
          </div>
        }
      </div>
    </div>
    }
  </div>
  </div>
</ion-content>

<ion-footer collapse="fade" class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" fill="solid" class="responsive-button" (click)="starImprovement()">
      {{"START_IMPROVEMENT" | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>

