@import '~questionnaire-webcomponent/styles.css';

.details-background{
    background-color: rgb(255, 255, 255);
    min-height: 100%;
}

.back-button{
    font-size: 25px;
    margin-left: 12px;
    cursor: pointer;
}

@media (max-width: 768px){
    .details-section{
        max-width: 100%;
    }
}