@if(showHeader){
  <ion-header [translucent]="true">
      <ion-toolbar>
          <ion-buttons slot="start">
            <ion-icon name="arrow-back-outline" (click)="goBack()" class="back-button"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
  </ion-header>
}

<ion-content >
  <div class="details-background">
    <div class="details-section">
      @if(showDetails){
        <project-player [config]="config" [projectData]="projectData"></project-player>
      }
    </div>
  </div>
</ion-content>



