.details-background{
    background-color: #F0F0F0;
    min-height: 100%;
}

.details-section{
    max-width: 70vw;
    margin: auto;
}

@media (max-width: 768px){
    .details-section{
        max-width: 100%;
    }
}