<app-application-header [config]="headerConfig"></app-application-header>

<ion-content [fullscreen]="true">
  <div class="top-screen">

    <ion-grid>
      <ion-row class="center-aligned">
        <ion-col size="12" size-md="4">
          <app-profile-image [profileImageData]='formJson'></app-profile-image>
        </ion-col>
        <ion-col size="12" size-md="8" class="details">
          <ion-label>
            <h2>{{formData?.name}}</h2>
            <p>{{formData?.email}}</p>
          </ion-label>
          <div class="btn-container">
            <ion-button routerLink="/profile-edit" fill="light" shape="round">
              {{ "EDIT_PROFILE" | translate }}
            </ion-button>
            <ion-select
              interface="popover"
              [(ngModel)]="selectedLanguage"
              (ionChange)="onLanguageChange($event)"
              class="styled-select"
            >
            @for(lang of languages;track lang){
              <ion-select-option  [value]="lang.code">
                {{ lang.name }}
              </ion-select-option>
            }
            </ion-select>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="ion-margin-top container profileView" *ngIf="enableFormOne">
    <dynamic-form [formJson]="formJson" #formLib></dynamic-form>
  </div>
  <div class="ion-margin-top container profileView secondForm" *ngIf="enableFormTwo">
    <dynamic-form [formJson]="formJson2" #formLib2 ></dynamic-form>
  </div>
</ion-content>