.container {
    margin: 1.563rem 2.5rem;
}

.details {
    margin-top: 3.125rem;
}

.top-screen {
    background-color: var(--color-primary);
}
.sc-ion-label-md-s>p{
    color: var(--color-light);
}
.user-info{
    color: var(--color-light);
    font-weight: bolder;
    font-size: larger;
}

ion-button {
    color: var(--color-primary);
}

mat-label {
    font-weight: 700 !important;
}

.mdc-text-field--filled.mdc-text-field--disabled .mdc-text-field__input {
    color: var(--color-grey) !important;
}

.center-aligned {
    justify-content: center;
    align-items: center;
}

app-profile-image {
    float: right;
}

.edit-profile {
    text-transform: none !important;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}

ion-button {
    width: 100%;
    max-width: 150px;
    min-height: 36px;
}

.styled-select {
    font-weight: 400;
    font-size: 0.9rem;
    padding: 0rem 1rem;
    border-radius: 50px;
    background-color: var(--color-light);
    color: var(--color-primary);
    width: 100%;
    max-width: 100px;
    min-height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:768px) {
    .btn-container {
        justify-content: center;
    }

    .center-aligned {
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
    }

    .details {
        margin-top: -1.25rem;
    }

    app-profile-image {
        float: none;
    }
}

.secondForm {
    margin-top: -30px;
}