<app-header [pageTitle]="'PROFILE_DETAILS'">
</app-header>

<ion-content [fullscreen]="true">
  <div class="top-screen">

    <ion-grid>
      <ion-row class="center-aligned">
        <ion-col size="12" size-md="4">
          <app-profile-image [profileImageData]='formJson'></app-profile-image>
        </ion-col>
        <ion-col size="12" size-md="8" class="details">
          <ion-label>
            <h2>{{formData?.name}}</h2>
            <p>{{formData?.email}}</p>
          </ion-label>
          <ion-button routerLink="/profile-edit" fill="light" shape="round" class="mt-5">
            {{ "EDIT_PROFILE"| translate}}
          </ion-button>
          <ion-button routerLink="/profile/certificate" fill="light" shape="round" class="mt-5" style="margin-left: 14px;">
            {{ "CERTIFICATE"| translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="ion-margin-top container profileView" *ngIf="enableFormOne">
    <dynamic-form [formJson]="formJson" #formLib></dynamic-form>
  </div>
  <div class="ion-margin-top container profileView secondForm" *ngIf="enableFormTwo">
    <dynamic-form [formJson]="formJson2" #formLib2 ></dynamic-form>
  </div>
</ion-content>