.container {
    margin: 15px 40px;
}



// hr {
//     height: 2px;
//     background-color: var(--color-secondary);
//     margin: 20px 0;
//     opacity: 0.7;
//   }

.details {
    margin-top: 50px;
}


.top-screen {
    background-color: var(--color-primary);
}


ion-label {

    h2,
    p {
        color: white;
    }

    h2 {
        font-weight: bolder;
        font-size: larger;
    }
}

ion-button {
    color: var(--color-primary);
}

mat-label {
    font-weight: 700 !important;
}

.mdc-text-field--filled.mdc-text-field--disabled .mdc-text-field__input {
    color: var(--color-grey) !important;
}

.center-aligned {
    justify-content: center;
    align-items: center;
    height: 220px;
}

@media (max-width:768px) {
    .center-aligned {
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
    }
    .details {
        margin-top: -20px;
    }
}