<app-application-header [config]="headerConfig">
    <ion-buttons class="button-container" header-right-content>
      <ion-button class="button" (click)="share()">
        <ion-icon name="share-social-outline" class="icon"></ion-icon>
        <span class="text">{{"SHARE" | translate}}</span>
      </ion-button>
      <ion-button class="button" (click)="download()">
        <ion-icon name="download-outline" class="icon"></ion-icon>
        <span class="text">{{"DOWNLOAD"| translate}}</span>
      </ion-button>
    </ion-buttons>
</app-application-header>

<ion-content class="ion-padding" *ngIf="viewProjectDetails">
  <div class="layout-wrapper">

  <div class="author-container ion-padding">
    @if(viewProjectDetails?.title){
      <h1 class="title-header">{{viewProjectDetails?.title}}</h1>
    }
    @if(storyDetails?.authorName){
    <div class="author-text">
      <span>{{"BY" | translate}} </span>
      <div class="author-span">
        <span>{{storyDetails?.authorName}}</span>
        <span>{{storyDetails?.location}}</span>
      </div>
    </div>
    }
  </div>

@if(storyDetails?.summary){
  <div class="summary-container">
    <div class="summary-head">
      <h1 class="summary-title">{{"SUMMARY" | translate}}</h1>
      <button class="summary-copy" (click)="copyText()">
        <ion-icon name="copy-outline"></ion-icon>
      </button>
    </div>
    <p class="summary-text">{{storyDetails?.summary}}</p>
  </div>
}
  
  @if(storyDetails?.problemStatement){
    <app-mi-details-card
        [cardConfig]="{ title: 'PROBLEM_STATEMENT', text: storyDetails?.problemStatement }">
    </app-mi-details-card>
  }


@if(storyDetails?.objective){
  <app-mi-details-card 
    [cardConfig]="{ title: 'OBJECTIVE', text: storyDetails?.objective }">
  </app-mi-details-card>
}

@if(storyDetails?.timeline){
  <app-mi-details-card 
    [cardConfig]="{ title: 'TIMELINE', text: storyDetails?.timeline}">
  </app-mi-details-card>
}

@if(storyDetails?.actionSteps?.length){
  <app-mi-details-card
    [cardConfig]="{ title: 'ACTION_STEPS', text: storyDetails?.actionSteps }">
  </app-mi-details-card>
}

@if(storyDetails?.impact){
  <app-mi-details-card 
    [cardConfig]="{ title: 'IMPACT', text: storyDetails?.impact }">
  </app-mi-details-card>
}

@if(viewProjectDetails?.attachments?.length){
  <div class="resource-container">
    <h1 class="resource-title">
      <ion-icon name="star"></ion-icon>
      {{"RESOURCES" | translate}}
    </h1>
    @if(resource.images.length){
      <div class="resource-item">
        @for(image of resource.images;track image){
          <div class="item">
            <ion-icon name="image-outline"></ion-icon>
            <a [href]="image?.url" download="{{image?.url}}">
              <span>{{image?.name}}</span>
            </a>
          </div>
        }
      </div>
    }
    @if(resource.documents.length){
      <ul class="resource-list">
        @for(document of resource.documents;track document){
        <li>
          <a [href]="document?.url" download="{{document?.url}}" class="list-item">
            <ion-icon name="document-outline"></ion-icon>
            <span>{{document?.name}}</span>
          </a>
        </li>
      }
    </ul>
    }

    @if(resource.videos.length){
      <div class="resource-item">
        @for(video of resource.videos;track video){
          <div class="item">
            <ion-icon name="videocam"></ion-icon>
            <a [href]="video?.url" download="{{video?.url}}">
              <span>{{video?.name}}</span>
            </a>
          </div>
        }
      </div>
    }

 @if(resource.links.length){
  <div class="resource-item">
    @for(link of resource.links;track link){
      <div class="item" (click)="openAttachment(link)">
        <ion-icon name="link"></ion-icon>{{link?.name}}
      </div>
    }
  </div>
}
  </div>
}

@if(storyDetails?.text){
<div class="bottom-container">
      <p class="bottom-text">{{storyDetails?.text}}</p>
</div>
}
  </div>
</ion-content>
