.filter-section{
    overflow-y: auto;
    height: calc(100vh - 30px);
    width: 100%;
}

.filter-list{
    padding: 10px;
}

.filter-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
    margin-top: 8px;

    mat-icon{
        cursor: pointer;
    }
}

.clear{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 16px;
    color: var(--color-primary);
    cursor: pointer;
    margin: 16px 0px;
}

.filter-name{
    font-size: 16px;
    font-weight: bold;
}

.filter-options{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.apply-button{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--color-light);
    
    ion-button{
        text-transform: none;
        position: relative;
        width: 200px;
        right: 10px;
    }
}