/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mdc-text-field--filled {
  background-color: white !important;
}

.mat-mdc-form-field-focus-overlay {
  opacity: 0 !important;
}

.mdc-text-field {
  padding: 0px !important;
}

mat-label {
  color: black;
  font-weight: 500;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: black !important;
}


.ion-page {
  overflow-y: auto !important;
}


:root {
  --ion-default-font: "NotoSans-Regular";
  --ion-font-family: "NotoSans-Regular";
  --color-primary: #a47864;
  --color-secondary: #a47864;
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-grey: #808080;
  --color-danger: #ff0000;
  --color-disable-text: #7F7F7F;
  --color-disable-bg: #E4E3E0;

  --mdc-outlined-text-field-caret-color: var(--color-primary);
  --mdc-outlined-text-field-focus-outline-color: var(--color-primary);
  --mdc-outlined-text-field-focus-label-text-color: var(--color-primary);
  --mdc-filled-text-field-focus-active-indicator-color: var(--color-primary);

  --primary-color: var(--color-primary);
  --disabled-btn-bg: #0000001f;
  --disabled-btn-text: #00000061;
  --btn-outline: var(--color-primary);
  --error-color: var(--color-danger);
  --question-tip: gray;
  --general-btn-text-color: white;
  --general-btn-hover-bg: white;
  --secondary-btn-bg: white;
  --secondary-btn-hover-bg: whitesmoke;
  --card-bg: white;
  --disabled-btn-bg: gainsboro;
  --disabled-btn-text: gray;
  --light-opacity: #00000052;
  --light-grey: #f1f1f1;


  /* Borders */
  --border-color: #ccc;
}


.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: var(--color-primary) !important;
}

.mat-mdc-snack-bar-container.success {
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-container-color: #28a745;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.error {
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-container-color: #ff0000;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-standard-chip.mdc-evolution-chip--selected:not(.mdc-evolution-chip--disabled) {
  background-color: var(--color-primary) !important;
}

.mat-mdc-standard-chip.mdc-evolution-chip--selectable:not(.mdc-evolution-chip--with-primary-icon) {
  --mdc-chip-graphic-selected-width: var(--color-primary) !important;
}

.profileView{
  .mat-mdc-standard-chip.mdc-evolution-chip--selectable:not(.mdc-evolution-chip--with-primary-icon) {
    padding-right: 10px;
  }
  .mat-icon{
    display: none;
  }

  .mat-mdc-select-arrow{
    display: none;
  }
}

.custom-alert {
  .alert-wrapper {
    pointer-events: auto;
    position: relative;
  }

  .alert-head {
    position: relative;
  }

  .cancel-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    color: var(--ion-color-primary);
    font-weight: bold;
    font-size: 0.85rem;
    cursor: pointer;
  }

  .alert-button-group {
    margin-bottom: 10px;
  }

  .secondary-button {
    background: transparent;
    border-color: var(--ion-color-primary);
    color: var(--ion-color-primary);
    border: 0.063rem solid var(--ion-color-primary);
    margin-left: 10px;
    min-width: 4rem;
    font-weight: 700;
    font-size: .75rem;
    padding: .375rem 1.313rem;
  }

  .primary-button {
    background: var(--ion-color-primary);
    color: #fff;
    min-width: 4rem;
    font-weight: 700;
    font-size: .75rem;
    padding: .375rem 1.313rem;
  }
}

@font-face {
  font-family: 'NotoSans-Bold';
  font-style: normal;
  font-weight: bold;
  src: url('./assets/fonts/noto_Sans/NotoSans-Bold.ttf');
}

@font-face {
  font-family: 'NotoSans-Regular';
  src: url('./assets/fonts/noto_Sans/NotoSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Italic';
  font-style: italic;
  font-weight: normal;
  src: url('./assets/fonts/noto_Sans/NotoSans-Italic.ttf');
}

@font-face {
  font-family: 'NotoSans-BoldItalic';
  font-style: italic;
  font-weight: bold;
  src: url('./assets/fonts/noto_Sans/NotoSans-BoldItalic.ttf');
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ion-segment-button {
  text-transform: none;
}

.certificate-popup {
  --min-width: 38%;
  --max-width: 38%;

  @media (max-width: 600px) {
    --min-width: 80%;
    --max-width: 80%;
  }
}

.popup-class{
  --height: 125px;
  --width:450px;
}
