/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body, ion-app, ion-content{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ion-button, ion-select-option{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, ion-header {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ion-card, ion-card-title{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

 ion-card-subtitle, ion-card-content {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
}

ion-title, ion-toolbar {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

.urbanist-font {
  font-family: "Urbanist", sans-serif;
}

.manrope-font {
  font-family: "Manrope", sans-serif;
}

ion-label, ion-item {
  font-family: "Urbanist", sans-serif;
}


.mdc-text-field--filled {
  background-color: white !important;
}

.mat-mdc-form-field-focus-overlay {
  opacity: 0 !important;
}

.mdc-text-field {
  padding: 0px !important;
}

mat-label {
  color: black;
  font-weight: 500;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: black !important;
}


.ion-page {
  overflow-y: auto !important;
}


:root {
  --ion-default-font: "Urbanist", sans-serif;
  --ion-font-family:  "Urbanist", sans-serif;
  --color-primary: #572E91;
  --color-secondary: #572E91;
  --color-light: whitesmoke;
  --color-dark: #000000;
  --color-grey: #808080;
  --color-danger: #ff0000;
  --color-disable-text: #7F7F7F;
  --color-disable-bg: #E4E3E0;
  --color-light-grey: #79747E;
  --color-card-primary: #9261D7;
  --color-card-secondary: #FF9911;
  --color-fill-primary: #8C4EE0;
  --color-stroke-primary: #CCA7FF;
  --color-star-fill-secondary: #FED8A6;
  --color-quote-fill-secondary: #FED8A699;
  --color-stroke-secondary: #AD7C3B;
  --swiper-pagination-color: var(--color-primary) !important;


  --mdc-outlined-text-field-caret-color: var(--color-primary);
  --mdc-outlined-text-field-focus-outline-color: var(--color-primary);
  --mdc-outlined-text-field-focus-label-text-color: var(--color-primary);
  --mdc-filled-text-field-focus-active-indicator-color: var(--color-primary);

  --primary-color: #572E91;
  --disabled-btn-bg: #0000001f;
  --disabled-btn-text: #00000061;
  --btn-outline: #572E91;
  --error-color: rgb(150, 4, 4);
  --question-tip: gray;
  --general-btn-text-color: white;
  --general-btn-hover-bg: white;
  --secondary-btn-bg: white;
  --secondary-btn-hover-bg: whitesmoke;
  --card-bg: white;
  --disabled-btn-bg: gainsboro;
  --disabled-btn-text: gray;
  --color-header:#38373B;
  --color-background:#F5F5F5;
  --color-text:#387576;
  --color-input-field:#F0F0FF;

  /* Borders */
  --border-color: #ccc;
}


.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: var(--color-primary) !important;
}

.mat-mdc-snack-bar-container.success {
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-container-color: #28a745;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.error {
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-container-color: #ff0000;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-standard-chip.mdc-evolution-chip--selected:not(.mdc-evolution-chip--disabled) {
  background-color: var(--color-primary) !important;
}

.mat-mdc-standard-chip.mdc-evolution-chip--selectable:not(.mdc-evolution-chip--with-primary-icon) {
  --mdc-chip-graphic-selected-width: var(--color-primary) !important;
}

.profileView{
  .mat-mdc-standard-chip.mdc-evolution-chip--selectable:not(.mdc-evolution-chip--with-primary-icon) {
    padding-right: 10px;
  }
  .mat-icon{
    display: none;
  }

  .mat-mdc-select-arrow{
    display: none;
  }
}

.custom-alert {
  .alert-wrapper {
    pointer-events: auto;
    position: relative;
  }

  .alert-head {
    position: relative;
  }

  .cancel-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    color: var(--ion-color-primary);
    font-weight: bold;
    font-size: 0.85rem;
    cursor: pointer;
  }

  .alert-button-group {
    margin-bottom: 10px;
  }

  .secondary-button {
    background: transparent;
    border-color: var(--ion-color-primary);
    color: var(--ion-color-primary);
    border: 0.063rem solid var(--ion-color-primary);
    margin-left: 10px;
    min-width: 4rem;
    font-weight: 700;
    font-size: .75rem;
    padding: .375rem 1.313rem;
  }

  .primary-button {
    background: var(--ion-color-primary);
    color: #fff;
    min-width: 4rem;
    font-weight: 700;
    font-size: .75rem;
    padding: .375rem 1.313rem;
  }
}

ion-segment-button {
  text-transform: none;
}

.certificate-popup {
  --min-width: 38%;
  --max-width: 38%;

  @media (max-width: 600px) {
    --min-width: 80%;
    --max-width: 80%;
  }
}

.popup-class{
  --height: 125px;
  --width:450px;
}
