  .listTitle {
    background: var(--ion-color-primary);
    h1{
      font-size: 1.563rem;
    }
    h1,
    p {
      color: white;
    }
  }

  .listing-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }

  .card{
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    height: 100%;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .list-card-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .no-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .no-data-container img {
    max-width: 80%;
    margin-bottom: 1rem;
  }

  .no-data {
    font-size: 1.5rem;
    color: var(--ion-color-medium);
  }


  @media (min-width: 768px) {
    .no-data-container img {
      max-width: 26%;
    }
  }

  .delete-button {
    padding: 0.3rem;
    background-color: #fff;
    color: var(--ion-color-primary);
    cursor: pointer;
    position: relative;
  }

  .delete-text {
    font-size: 1rem;
    color: var(--ion-color-primary);
  }

  .list-card-head{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-x: auto;
  }

  .download-info{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .download-info-text{
    color: var(--ion-color-primary);
  }

  .download-text-span{
    width: 80%;
  }
  .header-inner {
    display: flex;
    justify-content: space-between;

    h1 {
      width: 80%;
    }
  }