.header-logo {
  min-width: 80px;
  max-width: 80px;
  margin-left: 10px;
}

.banner{
  background-color: var(--ion-color-primary);
  height: 200px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  color: #fff;
}

.banner h1{
  font-weight: 900;
}

.tiels{
  cursor: pointer;
  background-color: #fff;
  border-color: var(--ion-color-primary) !important;
  color: var(--ion-color-primary);
  height: 150px;
  display: flex; 
  justify-content: center;
   align-items: center;
   transition: transform 0.3s ease-in-out;
  img {
    width: 100%;
    height: 3rem;
    flex: 1; 
    object-fit: contain;
  }
}

.tiels:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.tiels h1{
  text-align: center;
  margin-top: 15px;
}


.tiels ion-icon {
  display: block;
  margin: 0 auto;
}
.scanner-button-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.scanner-button {
  --background: var(--ion-color-primary); 
  --border-radius: 50%;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scanner-button ion-icon {
  font-size: 36px;
  color: #fff; 
}

@media (max-width:560px) {
  .tiels h1{
    font-size: medium;
  }

  .buttons-section{
    ion-button{
      font-size: 12px;
    }
  }

  .header-logo {
    max-width: 80px;
  }
}

.profile-button{
  // border-left: solid 2px grey;
  border-right: solid 2px grey;
}