mat-card{
    height: auto;
    max-width: 21.875rem;
    border: 1px solid var(--color-light-grey);
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 15px !important;
    gap: 10px;

    .card-image{
        height: 200px;
        border-radius: 10px;
        object-fit: cover;
    }

    .card-title{
        text-align: center;
        font-size: 16px;
        font-weight: 700;
    }
    .card-button{
        background-color: var(--color-primary);
        color: #fff;
        padding: 5px;
    }

}

.create-improvement-card{
    display: flex;
    justify-content: center;
}