@if(showHeaders){
<ion-header>
  <ion-toolbar>
    <img [src]="logoPath" alt="Elevate Logo" class="header-logo" />

    <ion-buttons slot="end" class="buttons-section">
      <ion-button routerLink="/project-downloads" *allowTemplateView="pageIdsList.downloads">
        {{"DOWNLOADS"|translate}}
      </ion-button>
      <ion-button  routerLink="/profile" *allowTemplateView="pageIdsList.profile">
        <span class="profile-button ion-padding-horizontal">
          {{"PROFILE"|translate}}
        </span>
      </ion-button>
      <ion-button (click)="logout()">
        {{"LOGOUT"|translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
}

<ion-content [fullscreen]="true">
  <ng-container *ngFor="let listData of solutionList">
    <ng-container *ngTemplateOutlet="typeTemplateMapping[listData?.type]"></ng-container>
  </ng-container>

  <ng-template #bannerTemplate>
    <ion-list lines="none">
      <div>
        <swiper-container>
          @for (listData of solutionList; track listData.id) {
          @if (listData?.type === 'bannerList'){
          @for (banner of listData?.listingData; track banner.id) {
          <swiper-slide>
            <ion-card class="banner">
              <ion-card-content>
                <h1>{{banner?.title}}</h1>
              </ion-card-content>
            </ion-card>

          </swiper-slide>
          }}
          }
        </swiper-container>
      </div>
    </ion-list>
  </ng-template>

  <ng-template #solutionTemplate>
    <ion-list>
      <ion-item lines="none">
        <ion-grid>
          <ion-row>
            @for (item of solutionList; track $index) {
            @if (item.type === 'solutionList'){
            @for (listData of item.listingData; track listData.id) {
            <ion-col size="6" size-md="3" (click)="navigateTo(listData)">
              <ion-card class="tiels">
                <ion-card-content>
                    <app-image [svgPath]="listData?.img"></app-image>
                  <h1 style="color:black">{{listData?.name}}</h1>
                </ion-card-content>
              </ion-card>
            </ion-col>
            }
            }
            }
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ng-template>
  @if(isMobile){
  <div class="scanner-button-container" *allowTemplateView="pageIdsList.qrScanner">
    <ion-button class="scanner-button" (click)="startScan()">
      <ion-icon name="scan-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </div>
  }
</ion-content>