<app-application-header [config]="headerConfig"></app-application-header>
<ion-content class="ion-padding">
  <div class="container layout-wrapper">
    <h1 class="title">{{"TAG_IMPROVEMENT" | translate}}</h1>
    <div>
      @if(showInput){
        <div class="input-container">
          <label class="input-label">{{"ADD_PROBLEM_STATEMENT" | translate}}</label>
          <div class="input-wrapper">
            <input
              type="text"
              [(ngModel)]="problemStatement"
              placeholder="{{'SEARCH_TEXT' | translate}}"
              class="text-input-with-icon"
              (input)="onInputChange()"
            />
            <ion-icon
              name="close-circle-outline"
              class="icon-inside-input"
              (click)="toggleInput()"
            ></ion-icon>
          </div>
        </div>
      }@else{
        <div class="add-new">
            <ion-icon
              name="add-circle-outline"
              class="add-icon"
              (click)="toggleInput()"
            ></ion-icon>
            <span (click)="toggleInput()">{{ "ADD_NEW_PROBLEM_STATEMENT" | translate }}</span>
          </div>
      }
    </div>
@if(options.length){
  <div class="radio-container">
    <ion-radio-group [(ngModel)]="selectedOption">
      @for(option of options;track option){
        <ion-item (click)="onRadioSelect(option._id)">
          <ion-label>
            @if(option.name.length > characterLimit ){
              @if(option.isExpanded){
                <span>{{ option.name | shortUrl:150 }}</span>
              }
              @else{
                <span>{{ option.name}}</span>
              }
              <span class="read-more-less" (click)="toggleReadMore(option._id, $event)">
                {{ option.isExpanded ? ( 'READ_MORE' | translate ) : ('READ_LESS' | translate) }}
              </span>
            }
            @else{
              <span>{{ option.name }}</span>
            }
          </ion-label>
          <ion-radio slot="start" [value]="option._id" aria-label="option.name" [disabled]="isRadioDisabled"></ion-radio>
        </ion-item>
      }
    </ion-radio-group>
  </div>
}
  </div>
  <ion-infinite-scroll (ionInfinite)="loadData($event)" [disabled]="disableLoading">
    <ion-infinite-scroll-content loadingText="{{'LOADING' | translate}}..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer collapse="fade" class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" fill="solid" class="add-btn" (click)="fromRecommendation ? createProject() : addProject()" [disabled]="!isFormValid()">
      {{"ADD"| translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>