<app-header></app-header>

<ion-content>
  <ion-list class="list-title">
    <ion-row class="ion-margin">
      <ion-col>
        <ion-text color="primary">
          <h1>{{"PROJECT_CATEGORY"|translate}}</h1>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-grid>
    <ion-row>
      @for (category of categoriesList; track $index) {
      <ion-col size="6" size-md="3" class="listing-card">
        <ion-card class="category-card" (click)="navigate(category)">
          <ion-card-content>
            {{ category.name }}
          </ion-card-content>
        </ion-card>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>