.list-title{
    background: var(--ion-color-primary);
    h1{
        font-size: 1.563rem;
        color: white
    }
}

.category-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 120px;
    cursor: pointer;
    word-break: break-all;

    ion-card-content{
        font-size: 18px;
        font-weight: 700;
        color: var(--ion-color-primary);;
    }
}