
.cards{
  width: 335px;
  overflow:hidden;
  display: flex;
  margin: 15px;
  .sparkles{
    max-width: 20px;
    position: relative;
    z-index: 99;
    right:20px;
    top: 48px;

  }
  cursor: pointer;
}

.spotlight-card{
  height: 19rem;
  position: relative;
  max-width: 315px;
  min-width: 315px;
  border-radius: 20px;
  border: 2px #c0c0c0 solid;
  color:white;
  .spotlight-content{
    max-width: 180px;
    min-width: 180px;
    max-height: 165px;
    position: absolute;
    z-index: 99;
    top: 33px;
    right: 25px;
    font-weight: 500;
    font-size: 14px;
  }
  .spotlight-author{
    max-width: 194px;
    min-width: 194px;
    position: absolute;
    z-index: 99;
    bottom: 20px;
    right: 8px;
    font-size: 14px;
  }
  .quote-icon{
    width: 60px;
    height: 50px;
    position: absolute;
    top: -5px;
    left: 30px;
  }
  .bottom-quote{
    position: absolute;
    transform: translate(0, 0) rotate(180deg);
    bottom: 20px;
    right: -8px;
  }
}


.odd-card {
    background-color: var(--color-card-secondary);

    p, span {
      color: #000;
    }

    .quote-color {
      fill: var(--color-quote-fill-secondary);
    }

    .stars {
      fill:  var(--color-star-fill-secondary);
      stroke:  var(--color-stroke-secondary);
    }
  }

  .even-card {
    background-color: var(--color-card-primary);

    p {
      color: #fff;
    }

    .quote-color {
      fill: var(--color-fill-primary);
    }

    .stars {
      fill:  var(--color-fill-primary);
      stroke: var(--color-stroke-primary);
    }
  }